<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button
         class="btn btn-link"
         routerLink="/"
         >На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор </strong>
        <small>21.10.2020</small>
    </div>

    <div>
        Lorem ipsum dolor sit, 
        amet consectetur adipisicing elit. 
        Iste dolor ipsam in doloremque omnis 
        labore debitis perferendis id similique quo.
    </div>
    <div>
        Lorem ipsum dolor sit, 
        amet consectetur adipisicing elit. 
        Iste dolor ipsam in doloremque omnis 
        labore debitis perferendis id similique quo.
    </div>
    <div>
        Lorem ipsum dolor sit, 
        amet consectetur adipisicing elit. 
        Iste dolor ipsam in doloremque omnis 
        labore debitis perferendis id similique quo.
    </div>

   
</div>
